.propertyPanel {
    width: 150px;
    background-color: var(--editor-bg);
    border-left: 1px solid var(--ui-black-transparent);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 顶部标题 */
.header {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    color: #8A8888;
    border-bottom: 1px solid var(--ui-black-transparent);
    background: var(--editor-bg);
    margin-bottom: 18px;
}

/* 内容区域 */
.propertyContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    overflow-y: auto;
    padding: 3px;
}

/* 每一项属性：一行 */
.propertyField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 1px;
}

/* 标题 */
.propertyField label {
    font-size: 12px;
    color: #8A8888;
    /* flex: 1; */
    flex: 0 0 60px;
}

/* 输入区域 */
.propertyField input,
.propertyField select {
    flex: 1;
    padding: 4px 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fdfdfd;
    color: #595959;
    font-size: 12px;
    height: 24px;
    min-width: 0;
}

.propertyField input:focus,
.propertyField select:focus {
    outline: none;
    border-color: #666666;
}

/* 颜色选择器 */
.colorInputWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.colorInputWrapper input[type="color"] {
    height: 24px;
    padding: 0;
    border: 1px solid #ececec;
    border-radius: 4px;
    cursor: pointer;
    background: #F0F0F0;
}


.inputGroup {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1;
    min-width: 0;
}

/* .index-input-group {
    display: flex;
    gap: 8px;
} */

/* .bring-to-front-btn {
    padding: 8px 12px;
    background-color: white;
    color: #595959;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.bring-to-front-btn:hover {
    background-color: #FFE4E6;
    border-color: #FF0554;
    color: #FF0554;
} */

/* .propertyField input[type="color"] {
    height: 40px;
    padding: 2px;
    width: 50px;
} */

.propertyField input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-top: 5px;
}

.transparent-btn {
    padding: 6px 12px;
    background-color: #7f8c8d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.transparent-btn:hover {
    background-color: #95a5a6;
}





/* 代码生成相关样式 */
.code-generation-section {
    margin-top: auto;
    padding-top: 15px;
    border-top: 1px solid #FFE4E6;
}

.code-generation-btn {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #595959;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.code-generation-btn:hover {
    background-color: #FFE4E6;
}


::-webkit-scrollbar {
    width: 0px;

}