.container {
    /* position: relative; */
    position: absolute;
    width: 3.87rem;
    height: auto;
    z-index: 42;
}

.button {
    width: 100%;
    height: 3.07rem;
    padding: 0.375rem 0;
    text-align: center;
    border-right: 1px solid var(--ui-black-transparent);
    border-left: 1px solid var(--ui-black-transparent);
    background: var(--page-background);
    cursor: pointer;
    user-select: none;
    transition: background 0.2s;
    color:var(--text-primary);
}

.button:hover {
    color: #4C97FF;
}

.button.active {
    background-color: var(--toolboxSelected-ic);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto 0.125rem;
    display: block;
}

.label {
    font-size: 0.65rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}


.searchBox {
    position: absolute;
    top:0;
    left:3.88rem;
    width: 240px; 
    /* background: white; */
    padding: 5px;
    border-radius: 4px;
    z-index: 42;
}

.input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}
