.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logBox {
  width: 80%;
  max-height: 300px;
  background-color: #111;
  color: #00ff90;
  font-family: monospace;
  font-size: 14px;
  padding: 15px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 0 10px #00ff90;
}

.logLine {
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 4px;
}
