.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--editor-bg);
    overflow: hidden;
    border: 0px solid #e0e3eb;
}

/* 顶部配置 */
.toolbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px;
    background:var(--ui-tertiary);
    border-bottom:1px solid var(--ui-black-transparent);
    gap:12px;
}

.leftTools,
.rightTools{
    display:flex;
    align-items:center;
    gap:8px;
}

.rightTools{
    flex-shrink:0;
}

/* 统一控件 */
.select,
.smallSelect,
.endingSelect{
    height:30px;
    border-radius:6px;
    border:1px solid #d0d5dd;
    font-size:12px;
    padding:0 8px;
    background:var(--ui-white);
}

.select{
    width:100px;
}

.smallSelect{
    width:100px;
}

.endingSelect{
    width:80px;
}

.select:disabled,
.smallSelect:disabled,
.endingSelect:disabled {
    background: #f5f5f5;
    color: #999;
    border-color: #ddd;
    cursor: not-allowed;
    opacity: 0.7;
}

.label{
    font-size:12px;
    color:var(--ui-text-primary);
    opacity:.75;
    user-select:none;
}

/* 连接按钮 */
.connect,
.disconnect,
.sendBtn{
    height:30px;
    border:none;
    border-radius:6px;
    padding:0 14px;
    font-size:12px;
    cursor:pointer;
    transition:.2s;
}

.connect,
.sendBtn{
    background:var(--ic-main);
    color:white;
}

.disconnect{
    background:#d9534f;
    color:white;
}

.connect:disabled,
.disconnect:disabled,
.sendBtn:disabled {
    background: #d8d8d8;
    color: #888;
    cursor: not-allowed;
    opacity: 0.7;
}

/* 滚动 */
.checkItem{
    display:flex;
    align-items:center;
    gap:4px;
    font-size:12px;
    color:var(--ui-text-primary);
    white-space:nowrap;
}

/* 输入区 */
.inputBar{
    display:flex;
    align-items:center;
    gap:8px;
    padding:8px 10px;
    border-top:1px solid var(--ui-black-transparent);
    background:var(--ui-tertiary);
}

.input{
    flex:1;
    height:30px;
    border-radius:6px;
    border:1px solid #d0d5dd;
    padding:0 10px;
    font-size:12px;
}

/* 输出 */
.output{
    flex:1;
    overflow-y:auto;
    min-height:0;
    padding:10px;
    font-size:12px;
    line-height:1.5;
    font-family:ui-monospace,SFMono-Regular,Menlo,monospace;
    user-select:text;
    -webkit-user-select:text;
}

/* 清空 */
.clearBtn{
    width:30px;
    height:30px;
    border:none;
    background:url('./cleare.svg') center/18px no-repeat;
    background-color:transparent;
    cursor:pointer;
    border-radius:6px;
}

.clearBtn:hover{
    background-color:rgba(0,0,0,.05);
}


.rx { 
    color: var(--ui-text-primary-transparent); 
    margin-bottom: 2px; 
    white-space: pre-wrap; 
    
} 
.tx { 
    color: #1976d2; 
    margin-bottom: 2px; 
}